<!doctype html>
        <html>
          <head>
            <meta charset="utf-8">
            <title>BEYONCE</title>
            <link rel="stylesheet" href="styles.css" />
          </head>
          <body>
            <h1>About___BEYONCÉ</h1>
        </div>


        <main>
            <section class="section-right">
              <img src="images/aboutpic.jpg"  width="250px" height="250px"/>
            </section>
            <div class="beyonceabout1">
            <p class="beytext1">Beyoncé Knowles is a multi-platinum, Grammy Award-winning recording artist who's acclaimed for her thrilling vocals, videos and live shows.</p>

            <p>Who Is Beyoncé Knowles?</p>
              <h4>Beyoncé Knowles first captured the public's eye as lead vocalist of the R&B group Destiny's Child. She later established a solo career with her debut album Dangerously in Love, becoming one of music's top-selling artists with sold-out tours and a slew of awards. Knowles has also starred in several films, including Dream Girls. She married hip-hop recording artist Jay-Z in 2008 and the couple has three children.</h4>
              
              <p>Early Life</p>
              <h4>Singer and actress Beyoncé Giselle Knowles was born on September 4, 1981, in Houston, Texas. She started singing at an early age, competing in local talent shows and winning many of these events by impressing audiences with her singing and dancing abilities. </h4>
              
              <p>Destiny's Child</p>
              <h4>Teaming up with her cousin Kelly Rowland and two classmates, Knowles formed an all-female singing group. Her father, Matthew Knowles, served as the band's manager. The group went through some name and line-up changes before landing a record deal in 1997 with Columbia Records. Destiny's Child soon became one of the most popular R&B acts, with the release of their first, self-titled album. Gaining momentum, the group scored its first No. 1 single on the pop charts with "Bills, Bills, Bills," off their second album. The recording also featured another smash hit, "Say My Name."</h4>

            </div>
        
          </main>
          </body>
        </html>