<!doctype html>
        <html>
          <head>
            <meta charset="utf-8">
            <title>BEYONCE</title>
            <link rel="stylesheet" href="styles.css" />
          </head>
          <body>
            <h1>BEYONCÉ____</h1>
            <footer>
              <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">photo-gallery</a></li>
                <li><a href="#">works</a></li>
               
              </ul>
            </footer>
            <img src="/images/beyonce1.jpg"  width="1500px" height="2000px" />
            <img src="/images/beyonce2.jpg"  width="1500px" height="2000px" />
            <img src="/images/beyonce3.jpg"  width="1500px" height="2000px"/>
         
          </body>
        </html>