<!doctype html>
        <html>
          <head>
            <meta charset="utf-8">
            <title>BEYONCE</title>
            <link rel="stylesheet" href="styles.css" />
          </head>
          <body>
            <h1>BEYONCÉ_____</h1>
            <div class="PG">Personal Gallery
            <img src="/images/beyhd1.jpg"   width="600px" height="600px"/>
            <img src="/images/beyhd2.jpg"   width="600px" height="600px"/>
            <img src="/images/beyhd3.jpg"   width="900px" height="600px"/>
            <img src="/images/beyhd4.jpg"  width="600px" height="600px" />
            <img src="/images/beyhd5.jpg"  width="600px" height="900px" />
            <img src="/images/beyhd6.jpg"  width="600px" height="600px"/>
            </div>
          </body>
        </html>