<!doctype html>
        <html>
          <head>
            <meta charset="utf-8">
            <title>BEYONCE</title>
            <link rel="stylesheet" href="styles.css" />
          </head>
          <body>
            <div class="title">

              <h1>BEYONCÉ___</h1>
            </div>
            
            <img src="/images/Lionking.jpg" width="250px" height="250px" />
            <img src="/images/beyonce-homecoming.jpg" width="250px" height="250px" />
            <img src="/images/jaybeyalbum.jpg" width="250px" height="250px" />
            <img src="/images/lemonadeAlbum.jpg" width="250px" height="250px" />
            <img src="/images/beyonce-selftitledpng.png" width="250px" height="250px" />
            <img src="/images/4bey.jpg" width="250px" height="250px" />
            <img src="/images/iasf.jpg" width="250px" height="250px" />
            <img src="/images/bdayalbum.jpg" width="250px" height="250px" />
            <img src="/images/dilbey.jpg" width="250px" height="250px" />
            <img src="/images/DC4.jpg" width="250px" height="250px" />
            <img src="/images/DC1.jpg" width="250px" height="250px" />
            <img src="/images/DC2.jpg" width="250px" height="250px" />
          
          </body>
        </html>